<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebei.systemdemo.mapper.DeviceUnitMapper">

    <select id="page" resultType="com.hebei.systemdemo.pojo.DeviceUnit">
        SELECT
            du.id,
            du.production_line_id,
            pl.line_name AS production_line_name,
            du.unit_code,
            du.unit_name,
            du.creator_id,
            su.username AS creator_name,
            du.created_at AS create_at,
            du.updated_at AS update_at
        FROM device_unit du
        LEFT JOIN production_line pl ON du.production_line_id = pl.id
        LEFT JOIN sys_user su ON du.creator_id = su.id
        <where>
            <if test="productionLineId != null">
                AND du.production_line_id = #{productionLineId}
            </if>
            <if test="unitCode != null and unitCode != ''">
                AND du.unit_code LIKE CONCAT('%', #{unitCode}, '%')
            </if>
            <if test="unitName != null and unitName != ''">
                AND du.unit_name LIKE CONCAT('%', #{unitName}, '%')
            </if>
        </where>
        ORDER BY du.id DESC
    </select>

</mapper>
