<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebei.systemdemo.mapper.EquipmentMapper">

    <sql id="BaseColumnList">
        id,
        unit_code,
        unit_name,
        equipment_code,
        equipment_name,
        maintainer_name,
        equipment_category,
        equipment_importance,
        repair_strategy,
        overhaul_team,
        operate_team,
        created_at,
        updated_at
    </sql>

    <select id="page" resultType="com.hebei.systemdemo.pojo.Equipment">
        SELECT
        <include refid="BaseColumnList"/>
        FROM equipment
        <where>
            <if test="unitCode != null and unitCode != ''">
                AND unit_code LIKE CONCAT('%', #{unitCode}, '%')
            </if>
            <if test="equipmentCode != null and equipmentCode != ''">
                AND equipment_code LIKE CONCAT('%', #{equipmentCode}, '%')
            </if>
            <if test="equipmentName != null and equipmentName != ''">
                AND equipment_name LIKE CONCAT('%', #{equipmentName}, '%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="getById" resultType="com.hebei.systemdemo.pojo.Equipment">
        SELECT
        <include refid="BaseColumnList"/>
        FROM equipment
        WHERE id = #{id}
    </select>

    <select id="listByLineCode" resultType="com.hebei.systemdemo.pojo.Equipment">
        SELECT
            e.id,
            e.unit_code,
            e.unit_name,
            e.equipment_code,
            e.equipment_name,
            e.maintainer_name,
            e.equipment_category,
            e.equipment_importance,
            e.repair_strategy,
            e.overhaul_team,
            e.operate_team,
            e.created_at,
            e.updated_at
        FROM production_line pl
        INNER JOIN device_unit du ON du.production_line_id = pl.id
        INNER JOIN equipment e ON e.unit_code = du.unit_code
        WHERE pl.line_code = #{lineCode}
        ORDER BY e.id DESC
    </select>

    <insert id="add" parameterType="com.hebei.systemdemo.pojo.Equipment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            unit_code,
            unit_name,
            equipment_code,
            equipment_name,
            <if test="maintainerName != null and maintainerName != ''">maintainer_name,</if>
            <if test="equipmentCategory != null and equipmentCategory != ''">equipment_category,</if>
            <if test="equipmentImportance != null and equipmentImportance != ''">equipment_importance,</if>
            <if test="repairStrategy != null and repairStrategy != ''">repair_strategy,</if>
            <if test="overhaulTeam != null and overhaulTeam != ''">overhaul_team,</if>
            <if test="operateTeam != null and operateTeam != ''">operate_team,</if>
            <if test="createdAt != null and createdAt != ''">created_at,</if>
            <if test="updatedAt != null and updatedAt != ''">updated_at,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{unitCode},
            #{unitName},
            #{equipmentCode},
            #{equipmentName},
            <if test="maintainerName != null and maintainerName != ''">#{maintainerName},</if>
            <if test="equipmentCategory != null and equipmentCategory != ''">#{equipmentCategory},</if>
            <if test="equipmentImportance != null and equipmentImportance != ''">#{equipmentImportance},</if>
            <if test="repairStrategy != null and repairStrategy != ''">#{repairStrategy},</if>
            <if test="overhaulTeam != null and overhaulTeam != ''">#{overhaulTeam},</if>
            <if test="operateTeam != null and operateTeam != ''">#{operateTeam},</if>
            <if test="createdAt != null and createdAt != ''">#{createdAt},</if>
            <if test="updatedAt != null and updatedAt != ''">#{updatedAt},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.hebei.systemdemo.pojo.Equipment">
        UPDATE equipment
        <set>
            unit_code = #{unitCode},
            unit_name = #{unitName},
            equipment_code = #{equipmentCode},
            equipment_name = #{equipmentName},
            maintainer_name = #{maintainerName},
            equipment_category = #{equipmentCategory},
            equipment_importance = #{equipmentImportance},
            repair_strategy = #{repairStrategy},
            overhaul_team = #{overhaulTeam},
            operate_team = #{operateTeam},
            <if test="createdAt != null and createdAt != ''">created_at = #{createdAt},</if>
            <if test="updatedAt != null and updatedAt != ''">updated_at = #{updatedAt},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
